

.carousel-item img {
  margin-left: 500px;
  max-width: 800px; /* Ancho máximo del contenedor */
  height: 900px; /* Altura máxima del contenedor */
  object-fit: cover; /* Escala la imagen para que se ajuste al tamaño del contenedor sin deformarla */
}
