<footer class="footer-distributed">

    <div class="footer-left">

        <div class="logo-blanco">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPgSCe21pP3dZMy_cKYEyAyABw_ccL1Vv6g5dsq=w1080-h608-p-no-v0" alt="Image description">
        </div>

        <p class="footer-links">
            <a href="#">Inicio</a>
            |
            <a href="#">Nosotros</a>
            |
            <a href="#">Servicios</a>
            |
            <a href="/catalogo">Catalogo</a>
            |
            <a href="#">Contactos</a>
            |
            <a href="#">Probador Virtual</a>
            
        </p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Mz, Av. Universitaria 8</span>
                Los Olivos, Lima-Perú</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+51 994 648 863</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:opticas.nuevomundo@gmail.com">opticas.nuevomundo&#64;gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre Nosotros</span>
            <strong>Optica Nuevo Mundo: </strong><br>
            La lámpara del cuerpo es el ojo;así que, si tu ojo es bueno, todo tu cuerpo estará lleno de luz.<br> 
            Mateo 6:22
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/profile.php?id=100063809320122"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <p class="footer-company-name">Copyright © 2023, All rights reserved</p>
    </div>
</footer>