<app-header></app-header>

<body>
  <h1>Catálogo</h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let catalogo of listCatalogos" class="col">
        <div class="card h-100">
          <img src="{{catalogo.imagen}}" class="card-img-top" alt="Imagen del catálogo">
          <div class="card-body">
            <h5 class="card-title">{{catalogo.nombre}}</h5>
            <p class="card-subtitle">Descripción: </p>
            <p class="card-text">Precio: S/{{catalogo.precio}} - Marca: {{catalogo.marca}} - Código: {{catalogo.codigo}}</p>
            <p class="card-text">Otros: {{catalogo.tipoProducto}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">Ver Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
