<app-header></app-header>

<body>
  
    <h1>Catálogo</h1>


    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://assets2.vogue-eyewear.com/cdn-record-files-pi/67ff8a96-9d45-4d99-8e6e-adb70098c1cb/4347e6f9-bbe0-4970-820e-adb700a223d0/0VO4231__5152__STD__shad__fr.png?impolicy=HB_parameters_transp&sclw=1&sclh=1" class="card-img-top">
                <div class="card-body">
                        <h5 class="card-title" style="margin-right: 10px;">LENTE OFTALMICO VOGUE 0VO4231</h5>
                    <p class="card-subtitle">Descripcion: </p>
                    <p class="card-text">S/335.00 - Marca: VOGUE - Código: VO0VO4231#515</p>
                    <p class="card-text">Género: Mujer - Material: Metal</p>
                </div>
                <div class="card-footer">
                    <button href="#" class="btn btn-primary btn-lg">Ver Probador</button>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card h-100">
                <img src="https://gmo.com.pe/media/catalog/product/cache/1e8fad56756448ba1f37adb95d08e889/0/r/0rx7199__5204_000a_zhpshrqcowbc2xgc.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">LENTE OFTALMICO RAY BAN - 0RX7199</h5>
                    <p class="card-subtitle">Descripcion: </p>
                    <p class="card-text">S/790.00 - Marca: RAY BAN - Código: RB0RX7199#520</p>
                      <p class="card-text">Género: Unisex - Material: Acetato</p>
                </div>
                <div class="card-footer">
                    <button href="#" class="btn btn-primary btn-lg">Ver Probador</button>
                </div>
              </div>
            </div>

            
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visioncenter.com.pe/cdn/shop/products/8056597641098_1_1883e7ae-78ee-464a-942a-90f1c3e93d43_1800x1800.jpg?v=1702967145" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">LENTE OFTALMICO RAY BAN - 0RX3625V</h5>
                    <p class="card-subtitle">Descripcion: </p>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <button href="#" class="btn btn-primary btn-lg">Ver Probador</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>

<app-footer></app-footer>