<app-header></app-header>

<div class="contact-form">
  <h2>Formulario de Contacto</h2>
  <form [formGroup]="contactoForm" (ngSubmit)="agregarContacto()">
    <div>
      <label>Nombre:</label>
      <input type="text" formControlName="nombre"
          placeholder="Escriba su nombre..." />
      <div class="text-danger"
        *ngIf="contactoForm.get('nombre')?.hasError('required') && contactoForm.get('nombre')?.touched">
        <span>Su nombre es <strong>obligatorio</strong></span>
      </div>
    </div>


   <div>
      <label>Teléfono / Móvil:</label>
  <input type="number" formControlName="telefono" placeholder="Escriba su número..." required pattern="^\d{9}$" />
  <div class="text-danger" *ngIf="contactoForm.get('telefono')?.hasError('required') && contactoForm.get('telefono')?.touched">
    <span>Su número es <strong>obligatorio</strong></span>
  </div>
  <div class="text-danger" *ngIf="contactoForm.get('telefono')?.hasError('pattern') && contactoForm.get('telefono')?.touched">
    <span>El formato del número de teléfono es <strong>inválido</strong>. Solo 9 dígitos</span>
  </div>
    </div>
    

    <div>
      <label>Correo Electrónico:</label>
      <input type="text" formControlName="email"
          placeholder="Escriba su email..." />
      <div class="text-danger"
        *ngIf="contactoForm.get('email')?.hasError('required') && contactoForm.get('email')?.touched">
        <span>Su correo electrónico es <strong>obligatorio</strong></span>
      </div>
    </div>
    <div>
      <label>Mensaje:</label>
      <textarea type="text" formControlName="mensaje"
          placeholder="Escriba su mensaje..."></textarea>
    </div>
    <button routerLink="/" class="btn btn-secondary float-start">Volver</button>
    <button type="submit" [disabled]="contactoForm.invalid" class="float-end">Enviar</button>
  </form>
</div>

<app-footer></app-footer>
