<app-header></app-header>

<body>
    <section class="home">
        <div class="container">
            <h1>Servicios</h1>
            <section class="services">
                <div class="service-layout">
                    <div class="image-container">
                        <img src="https://media.discordapp.net/attachments/1106397732026986517/1229622143571202058/Rectangle_64.jpg?ex=663059dc&is=661de4dc&hm=23258b482ecc96ee03bb49c7ffaab718b51ebe120430b54a4053be2a9e89bf1e&=&format=webp"
                            alt="ImagenFigma" width="1000">
                    </div>

                    <div class="service-info">

                        <ul>
                            <li>ÁREA DE REFRACCIÓN: determina las correcciones necesarias en la salud óptica de la
                                persona.</li>
                            <li>ÁREA DE VENTAS: según la medida y las especificaciones del cliente se comercializan los
                                lentes.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <app-footer></app-footer>
</body>