<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="servicios.component.css">
    <title>OPTICA NUEVO MUNDO</title>
</head>

<app-header></app-header>

<body>
    <section class="home">
        <div class="container">
            <h1>Servicios</h1>
            <section class="services">
                <div class="service-layout">
                    <div class="image-container">
                        <img src="https://media.discordapp.net/attachments/1106397732026986517/1229622143571202058/Rectangle_64.jpg?ex=663059dc&is=661de4dc&hm=23258b482ecc96ee03bb49c7ffaab718b51ebe120430b54a4053be2a9e89bf1e&=&format=webp"
                            alt="ImagenFigma">
                    </div>

                    <div class="service-info">

                        <ul>
                            <li>ÁREA DE REFRACCIÓN: determina las correcciones necesarias en la salud óptica de la
                                persona.</li>
                            <li>ÁREA DE VENTAS: según la medida y las especificaciones del cliente se comercializan los
                                lentes.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <app-footer></app-footer>
</body>