<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="servicios.component.css">
    <title>OPTICA NUEVO MUNDO</title>
</head>
<body>
    <section class="home">
        <div class="cover">
        <div class ="navbar">
           <p> Logo </p>
            <div>
            <span> Servicios </span>
            <span> Precios </span>
            <span> Sobre nosotros </span>
            <span> Contactos </span>
            </div>
        </div>
        <div class="navbar2">
            <p> Horario de Atención: Lunes - Sabados: 10:00am - 7:00pm</p>
        </div>
        <div class="content">
            <h1> Servicios </h1>
            <p> ÁREA DE REFRACCIÓN: determina las correcciones necesarias en la salud óptica de la persona. </p>
            <p> ÁREA DE VENTAS: según la medida y las especificaciones del cliente se comercializan los lentes.</p>
        </div>
     </div>
    </section>
</body>