*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

p{
  margin-bottom: 30px;
}

.atencion_time{
  width: 100%;
  height: 30px;
  background: rgb(31,109,194);
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.sn_titulo{
  text-align: center;
  margin-left: 20px;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tiendafoto{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.info{
  margin-top: 40px;
  margin-right: 20px;
  text-align: justify;
  font-size: 26px;
  font-family:'Times New Roman', Times, serif;
}
