<app-header></app-header>
<body>
    
    <div>
        <p class="sn_titulo">Sobre Nosotros</p>
    </div>
    <div>
        <div class="tiendafoto">
            <img src="assets/fotos/foto_tienda.jpeg" alt="TiendaFoto" width="1000" >
        </div>
        <div class="info">
            <p>
                En Optica Nuevo Mundo, nos enorgullecemos de ofrecer una experiencia única y personalizada 
                en el cuidado de la salud visual. Somos una clínica oftalmológica dedicada a mejorar 
                la visión y el bienestar de nuestros clientes, ofreciendo una amplia gama de 
                servicios que van desde exámenes de la vista hasta la venta de lentes y la toma 
                precisa de medidas.
            </p>
            <p>
                Con más de seis años de experiencia en el campo oftalmológico, nuestro equipo de profesionales 
                altamente capacitados está comprometido a proporcionar la más alta calidad de atención a cada 
                paciente que entra por nuestras puertas. Nos esforzamos por comprender las necesidades individuales 
                de cada persona y brindar soluciones visuales personalizadas que se adapten a su estilo de vida y presupuesto.
            </p>
            <p>
                En nuestro centro, utilizamos tecnología de vanguardia para realizar exámenes oculares completos y precisos, 
                garantizando así un diagnóstico preciso y un tratamiento eficaz. Además, ofrecemos una amplia selección de lentes oftálmicos y 
                de contacto de las principales marcas, asegurando que nuestros clientes encuentren la solución perfecta para sus necesidades visuales.
            </p>
            <p>
                En Optica Nuevo Mundo, nos apasiona ayudar a nuestros clientes a ver claramente y vivir mejor. 
            </p>
            <p>
                ¡Te esperamos para cuidar de tu salud visual y ofrecerte soluciones a medida!
            </p>
        </div>
    </div>
   
</body>
<app-footer></app-footer>