<!-- solicitar-cita.component.html -->
<button class="solicitar-cita-btn" (click)="openModal(modalContent)">Solicitar Cita</button>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Solicitar Cita</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Formulario de solicitud de citas -->
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" required>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" formControlName="telefono" required>
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha de la cita: (No atendemos Domingos)</label>
        <input type="date" id="fecha" formControlName="fechaCita" required>
      </div>           
      <div class="form-group">
        <label for="hora">Hora de la cita: (Atendemos de 10am - 7pm)</label>
        <input type="time" id="hora" formControlName="horaCita" required>
      </div>
      <div class="form-group">
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" formControlName="comentario"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
        <button type="submit" class="btn btn-primary">Solicitar</button>
      </div>
    </form>
    
  </div>
</ng-template>
