/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container-fluid {
  padding: 20px; /* Añade espacio alrededor del contenido */
}

.card {
  width: 480px; /* Ancho mayor */
  height: auto; /* Altura ajustada según el contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-body1{
  display: flex;
  flex-direction: column; /* Alinear elementos internos en columna */
  justify-content: center;
  align-items: center;
}

.card-body {
  overflow-y: auto; /* Scroll vertical solo cuando sea necesario */
  max-height: 400px; /* Altura máxima del card-body */
}

.vto-tester {
  text-align: center;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.mt-3 {
  margin-top: 1rem;
}

/* PARA EL CARD DE LOS PRODUCTOS */


.card-subtitle {
  font-weight: 600;
}

.card-img-top {
  width: 100%; /* Ajusta automáticamente el ancho para mantener la proporción */
  height: 200px; /* Establece una altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta el contenido de la imagen para cubrir el área designada */
}

/* Estilos para el contenedor principal */
#target-inner {
  position: relative;
  width: 100%;
  height: 500px; /* Ajusta según el tamaño deseado para la zona de visualización */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  overflow: hidden;
}

/* Estilos para la imagen capturada */
.captured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Estilos para la imagen del producto seleccionado */
.selected-product-image {
  position: absolute;
  top: 50%; /* Ajusta la posición verticalmente según sea necesario */
  left: 50%; /* Ajusta la posición horizontalmente según sea necesario */
  transform: translate(-50%, -50%); /* Centra la imagen en el punto medio del contenedor */
  cursor: pointer;
  z-index: 100; /* Asegura que la imagen del producto esté encima de la imagen capturada */
  pointer-events: auto; /* Permite que el elemento sea interactivo */
  border: 2px solid #3498db; /* Borde para resaltar el elemento seleccionado */
}
