body {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Contenedor principal */
  .contenedor {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Establecer un ancho máximo para todo el contenedor */
    padding: 20px;
    display: flex;
    flex-direction: row; /* Mantener todo en línea horizontal */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 100px; /* Ajusta este valor según sea necesario */
  }
  
  .contenedor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .slider-vertical {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: calc(100% - 40px); /* Adaptar la altura al padding del contenedor */
    padding: 0 5px;
    align-self: center; 
  }
  
  /* Imagen con zoom */
  .imagen-zoom {
    user-select: none;
    position: relative;
    width: 50%; /* Ajusta el ancho según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea horizontalmente */
    overflow: hidden;
  }
  
  .imagen-zoom img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.5s ease-in-out; /* Transición suave para el zoom */
  }
  
  /* Cursor para indicar que se puede arrastrar */
  .imagen-zoom img {
    cursor: grab;
    pointer-events: none; 
  }
  
  .imagen-zoom:active img {
    cursor: grabbing;
  }
  
  /* Formulario */
  .formulario {
    width: 50%; /* Ajusta el ancho según sea necesario */
  }
  
  .formulario h2 {
    text-align: center;
  }
  
  .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario label,
  .formulario input,
  .formulario button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  .formulario button {
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Media queries para diseño responsivo */
  @media (max-width: 768px) {
    .contenedor {
      flex-direction: column;
      align-items: center;
      margin-top: 20px; /* Ajuste adicional para dispositivos móviles */
    }
    
    .imagen-zoom,
    .formulario {
      width: 100%;
      margin-right: 0;
    }
  }
  
  .text-danger{
    text-align: start;
    margin-left: 7px;
  }