<app-header></app-header>

<body>
  <div class="contenedor">
    <div
      class="imagen-zoom"
      (mousedown)="startDrag($event)"
      (mousemove)="onDrag($event)"
      (mouseup)="endDrag()"
      (mouseleave)="endDrag()"
    >
      <img
        [src]="imageUrl"
        [style.transform]="transform"
        alt="Imagen del diagnóstico"
      />
    </div>
    <div class="sidebar">
      <!-- Slider vertical -->
      <input
        type="range"
        class="slider-vertical"
        min="1"
        max="10"
        value="1"
        (input)="updateSliderValue($event)"
        (input)="updateZoom($event)"
      />
    </div>
    <div class="formulario">
      <h2>ACERQUE O ALEJE EL DIAGNOSTICO SEGUN SE LE INDICA</h2>
      <form [formGroup]="diagnosticoForm" (ngSubmit)="agregarDiagnostico()">
        <label>¿Hasta qué fila puede leer?</label><b>Rango del zoom de la imagen {{ sliderValue }}</b>
        <input
          type="text"
          formControlName="fila"
          placeholder="Indique el número y detalle..."
        />
        <br />
        <div
          class="text-danger"
          *ngIf="diagnosticoForm.get('fila')?.invalid && diagnosticoForm.get('fila')?.dirty"
        >
          <span *ngIf="diagnosticoForm.get('fila')?.hasError('required')">
            La fila es <strong>obligatoria</strong>
          </span>
          <span *ngIf="diagnosticoForm.get('fila')?.hasError('pattern')">
            Solo se permiten números del 1 al 11
          </span>
        </div>
        <label>¿Qué malestar presenta? </label>
        <input
          type="text"
          formControlName="malestar"
          placeholder="Indique el malestar..."
        />
        <div
          class="text-danger"
          *ngIf="diagnosticoForm.get('malestar')?.invalid && diagnosticoForm.get('malestar')?.dirty"
        >
          <span *ngIf="diagnosticoForm.get('malestar')?.hasError('required')">
            Su malestar es <strong>obligatorio,</strong> si no presenta colocar ninguno
          </span>
          <span *ngIf="diagnosticoForm.get('malestar')?.hasError('pattern')">
            No puede comenzar con un espacio en blanco
          </span>
        </div>
        <br />
        <label>¿Se realizo algun procedimiento médico?</label>
        <input
          type="text"
          formControlName="procedimiento"
          placeholder="Indique si se opero o su tratamiento..."
        />
        <div
          class="text-danger"
          *ngIf="diagnosticoForm.get('procedimiento')?.invalid && diagnosticoForm.get('procedimiento')?.dirty"
        >
          <span *ngIf="diagnosticoForm.get('procedimiento')?.hasError('required')">
            El procedimiento es <strong>obligatorio,</strong> si no presenta colocar ninguno
          </span>
          <span *ngIf="diagnosticoForm.get('procedimiento')?.hasError('pattern')">
            No puede comenzar con un espacio en blanco
          </span>
        </div>

        <button type="submit" [disabled]="diagnosticoForm.invalid">
          Enviar
        </button>
        <button routerLink="/" type="">Volver</button>
      </form>
    </div>
  </div>
</body>

<app-footer></app-footer>
